@import "tailwindcss";

@theme {
  /* Colors */
  --color-yellow: hsl(37, 98%, 54%);
  --color-yellow-light: hsl(37, 100%, 65%);
  --color-blue-lighter: hsl(203, 25%, 90%);
  --color-blue-light: hsl(203, 28%, 79%);
  --color-blue-dark: hsl(205, 30%, 27%);
  --color-blue-darker: hsl(206, 45%, 15%);
  --color-blue-muted: hsl(203, 22%, 55%);
  --color-blue-medium: hsl(205, 37%, 55%);
  --color-gray-light: hsl(0, 0%, 95%);
  --color-gray-lighter: hsl(0, 0%, 99%);
  /* Font Size */
  --text-300: 0.875rem;
  --text-350: 0.9375rem;
  --text-400: 1rem;
  --text-450: 1.125rem;
  --text-500: 1.25rem;
  --text-600: 1.5rem;
  --text-650: 1.625rem;
  --text-700: 2rem;
  --text-800: 2.5rem;
  --text-850: 2.75rem;
  --text-900: 3rem;
  --text-950: 3.5rem;
  /* Breakpoints */
  --breakpoint-sm: 37rem;
  --breakpoint-xl: 70rem;
  /* Grid */
  --my-grid-4x4: repeat(4, minmax(2.75rem, 7.375rem));
  --my-grid-6x6: repeat(6, minmax(2.25rem, 5.125rem));
}

[data-player="1"]::before {
  content: "P1";
}
[data-player="2"]::before {
  content: "P2";
}
[data-player="3"]::before {
  content: "P3";
}
[data-player="4"]::before {
  content: "P4";
}

@media (min-width: 37rem) {
  [data-player="1"]::before {
    content: "Player 1";
  }
  [data-player="2"]::before {
    content: "Player 2";
  }
  [data-player="3"]::before {
    content: "Player 3";
  }
  [data-player="4"]::before {
    content: "Player 4";
  }
}
